<% if current_student.has_been_fully_tested %>
<div class="jumbotron">
	<div class="container">
		<h1>Welcome <%= current_student.first_name %></h1>
		
		
	</div>
</div>

<% else %>
<div class="jumbotron">
	<div class="container">
		<h1>Welcome <%= current_student.first_name %></h1>
		<p>Learning Style Manager is designed to discover how you work best through examining how you think.</p>
		<p>To show you an overview, we just need you to complete the following tests:</p>
		<ol>
			<li><p><a class="<%= "text-finished" if current_student.star_test_results.any? %>" href="<%= new_student_star_path(current_student) %>">STAR (Spatial Tactile Auditory Reading)</a></p>
			<li><p><a class="<%= "text-finished" if current_student.dol5_test_results.any? %>" href="<%= new_student_dol5_path(current_student) %>">DOL5 (Dimensions of Learning)</a></p>
			<li><p><a class="<%= "text-finished" if current_student.gmit_test_results.any? %>" href="<%= new_student_gmit_path(current_student) %>">GMIT (Gardner's Multiple Intelligences)</a></p>
			<li><p><a class="<%= "text-finished" if current_student.ausidentities_test_results.any? %>" href="<%= new_student_ausidentity_path(current_student) %>">AusIdentities</a></p>
		</ul>
	</div>
</div>


<% end %>
