<h1 class="page-header">New DOL5 learning test <small>(Dimensions of Learning)</small></h1>
<span class="label label-primary"><%= Dol5TestResult::QUESTIONS.length %> questions</span>&nbsp;<span class="label label-info">Approx. <%= (Dol5TestResult::QUESTIONS.length * 10)/60 %> minutes</span>

<section class="test">
<%= form_for @dol5_test, url: {action: "create"}, html: {autocomplete: "off"} do |f| %>
	
	<%= f.fields_for :answers do |builder| %>
	<div class="questions">
		<% Dol5TestResult::QUESTIONS.each_with_index do |question,question_i| %>
			<div class="question">
				<h3><%= question %></h3>
				
				<div class="options">
				<% Dol5TestResult::OPTIONS.each_with_index do |option, option_i| %>
					<div class="radio">
						<%= builder.radio_button(question_i, option_i, required: true) %>
						<%= builder.label(question_i, option, value: option_i) %>
					</div>
				<% end %>
				</div>
			</div>
		<% end %>
	</div>
	<% end %>
	<hr>
	<button class="btn btn-primary btn-lg" value="submit" name="commit" type="submit">Finish test</button>
<% end %>
</section>
