<% if current_student.has_been_fully_tested %>
<div class="jumbotron">
	<div class="container">
		<h1>Welcome <%= current_student.first_name %></h1>
		<% if current_student.star_test_results.any? %>
		<section id="results-star">
		<p>You are mainly a <strong><%= current_student.latest_star_test_result.main_style %> learner</strong>. Below you can see how much your learning style tends to those of the <%= link_to "STAR framework", "/docs/STAR-Overview.pdf" %></a>.</p>
		<% star_ranked = current_student.latest_star_test_result.star_ranked %>
		<canvas class="star-piechart" width=200 height=200 
			data-spatial=<%= (star_ranked[:spatial]*100).floor %>
			data-tactile=<%= (star_ranked[:tactile]*100).floor %>
			data-auditory=<%= (star_ranked[:auditory]*100).floor %>
			data-reading=<%= (star_ranked[:reading]*100).floor %>></canvas>
		<p>For a more detailed overview, see your <%= link_to "results for all tests", student_path(current_student) %>.</p>
		
		</section>
		<% end %>
	</div>
</div>

<% else %>
<div class="jumbotron">
	<div class="container">
		<h1>Welcome <%= current_student.first_name %></h1>
		<p>Learning Style Manager is designed to discover how you work best through examining how you think.</p>
		<p>To show you an overview, we just need you to complete the following tests:</p>
		<ol>
			<li><p><a class="<%= "text-finished" if current_student.star_test_results.any? %>" href="<%= new_student_star_path(current_student) %>">STAR (Spatial Tactile Auditory Reading)</a></p>
			<li><p><a class="<%= "text-finished" if current_student.dol5_test_results.any? %>" href="<%= new_student_dol5_path(current_student) %>">DOL5 (Dimensions of Learning)</a></p>
			<li><p><a class="<%= "text-finished" if current_student.gmit_test_results.any? %>" href="<%= new_student_gmit_path(current_student) %>">GMIT (Gardner's Multiple Intelligences)</a></p>
			<li><p><a class="<%= "text-finished" if current_student.ausidentities_test_results.any? %>" href="<%= new_student_ausidentity_path(current_student) %>">AusIdentities</a></p>
		</ul>
	</div>
</div>


<% end %>
