<h1 class="page-header">New AusIdentities learning test</h1>
<span class="label label-primary"><%= AusidentitiesTestResult::QUESTIONS.length %> questions</span>&nbsp;<span class="label label-info">Approx. <%= (AusidentitiesTestResult::QUESTIONS.length * 4)/60 %> minutes</span>

<section class="test">
<%= form_for @ausidentities_test, url: {action: "create"} do |f| %>
	
	<%= f.fields_for :answers do |builder| %>
	<div class="questions">
		<% AusidentitiesTestResult::QUESTIONS.each_with_index do |(question, options), question_i| %>
			<div class="question">
				<h3><%= question %></h3>
			
				<% options.each_with_index do |option, option_i| %>
					<div class="radio">
						<%= builder.radio_button(question_i, option_i) %>
						<%= builder.label(question_i, option, value: option_i) %>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
	<% end %>
	<hr>
	<button class="btn btn-primary btn-lg" value="submit" name="commit" type="submit">Finish test</button>
<% end %>
</section>
